html,
body {
  background: transparent !important; /* 再次确保 html 本身不带颜色 */
  overflow: hidden;
}

.drag-region {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.no-drag {
  -webkit-app-region: no-drag;
  -webkit-user-select: auto;
  user-select: auto;
}
